/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

// Remove vertical scrollbar (best used with minimap package enabled)
atom-text-editor .vertical-scrollbar,
atom-text-editor::shadow .vertical-scrollbar,
atom-text-editor .scrollbar-corner,
atom-text-editor::shadow .scrollbar-corner,
atom-text-editor .horizontal-scrollbar,
atom-text-editor::shadow .horizontal-scrollbar {
   opacity: 0;
   width: 0 !important;
}

// Better top pane (quick search)
atom-panel.modal atom-text-editor[mini], .overlay atom-text-editor[mini] {
  margin-bottom: 0;
  height: 35px;
  max-height: 35px;
  line-height: 35px;
}

// Quick search background color
atom-text-editor[mini],
atom-text-editor[mini]::shadow {
  background: #222;
}

atom-panel.modal.overlay.from-top {
  background: #27292b;
  padding: 0;

  .loading {
    padding: 10px;

    .loading-message,
    .badge {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .error-message {
    padding: 10px;
  }

  .list-group {
    background: #191919;
    padding: 0;
    margin: 0;
  }
}

// Hide horizontal scrollbar on modal box
atom-panel.modal .select-list ol.list-group, atom-panel.modal.select-list ol.list-group {
  overflow-x: hidden;

    &::-webkit-scrollbar {
      position: relative;
      top: 6px;
      float: right;
      width: 3px;
      height: 3px;
      border: 0;
      border-radius: 3px;
      background-color: transparent;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      position: relative;
      top: 3px;
      float: right;
      width: 3px;
      border: 0;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, .05);
      background-clip: padding-box;
      border: 10px solid rgba(255, 255, 255, .2);
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255, 255, 255, .05);
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:window-inactive {
      background-color: rgba(255, 255, 255, 0);
      transition: all 0.55s;
    }

    &:hover, &:focus, iframe:focus, frame:focus, iframe:hover, frame:focus, frameset:focus, frameset:hover {

        ::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, .2);
            border: 10px solid rgba(255, 255, 255, .8);
            transition: all 0.55s;
        }
    }
  }

  // Cool panel-left scrollbars (only on hover)
  .panel-left {
    ::-webkit-scrollbar {
      position: relative;
      top: 6px;
      float: right;
      width: 3px;
      height: 3px;
      border: 0;
      border-radius: 3px;
      background-color: transparent;
      background-clip: padding-box;
    }

    ::-webkit-scrollbar-track {
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      position: relative;
      top: 3px;
      float: right;
      width: 3px;
      border: 0;
      border-radius: 3px;
      background-color: rgba(120, 120, 120, .05);
      background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(120, 120, 120, .05);
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb:window-inactive {
      background-color: rgba(255, 255, 255, 0);
      transition: all 0.55s;
    }

    &:hover, &:focus, iframe:focus, frame:focus, iframe:hover, frame:focus, frameset:focus, frameset:hover {

        ::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, .2);
            transition: all 0.55s;
        }
    }
}

linter-panel {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    position: relative;
    top: 6px;
    float: right;
    width: 3px;
    height: 3px;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    position: relative;
    top: 3px;
    float: right;
    width: 3px;
    border: 0;
    border-radius: 3px;
    background-color: rgba(120, 120, 120, .05);
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(120, 120, 120, .05);
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:window-inactive {
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.55s;
  }

  &:hover, &:focus, iframe:focus, frame:focus, iframe:hover, frame:focus, frameset:focus, frameset:hover {

      ::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, .2);
          transition: all 0.55s;
      }
  }
}

// Cool panel-left scrollbars (only on hover)
.panel-left {
  ::-webkit-scrollbar {
    position: relative;
    top: 6px;
    float: right;
    width: 3px;
    height: 3px;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    position: relative;
    top: 3px;
    float: right;
    width: 3px;
    border: 0;
    border-radius: 3px;
    background-color: rgba(120, 120, 120, .05);
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(120, 120, 120, .05);
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.55s;
  }

  &:hover, &:focus, iframe:focus, frame:focus, iframe:hover, frame:focus, frameset:focus, frameset:hover {

      ::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, .2);
          transition: all 0.55s;
      }
  }
}

// Minimap tweaks
atom-text-editor::shadow atom-text-editor-minimap,
atom-text-editor atom-text-editor-minimap {
  background: rgba(255, 255, 255, .02);
}

atom-text-editor {

  // Font rendering
  * {
    text-rendering: geometricPrecision !important;
  }

  // More subtle invisibles
  .invisible-character {
    color: #504949;
    opacity: 0.5;
  }

  .indent-guide {
    opacity: .5;
  }
}

// Improve line number background to be less shiny
atom-text-editor .gutter,
atom-text-editor::shadow .gutter {
  background: rgba(0, 0, 0, 0.009);
  color: rgba(255, 255, 255, 0.5);
}

// Tree view tweaks
.tree-view {

  .header:before {
    margin-right: 0px !important;
  }

  .icon {
    font-size: 11px;

    &:before {
      font-size: 13px;
      margin-left: 0;
      margin-right: 5px;
      opacity: .7;
    }
  }
}

.tree-view-resizer {
  display: block;
  overflow: scroll;
  overflow-x: hidden;

  .tree-view-scroller {
    border-top: 1px solid rgba(255,255,255,.08);
    padding-top: 5px;
  }
}

// Tree view open files package tweaks
.tree-view-open-files {
  overflow: auto;
  display: block;
  flex: none;

  li {
    display: block;
  }

  margin-bottom: 10px;
  margin-top: 0;

  .close-open-file::before {
    font-size: 9px;
    margin-right: 9px;
  }

  .list-tree.has-collapsable-children li.list-item {
    margin-left: 0;
  }

  li.expanded {
    padding-left: 0 !important;
  }

  .close-open-file {
    margin-left: -15px;
    margin-right: -6px;
  }

  .modified .close-open-file::before {
    width: 12px;
    height: 12px;
    margin-left: 0;
    margin-right: 5px;
    margin-right: 9px;
    border-color: #77cec0;
    top: 1px;
  }

  .modified .close-open-file {
    &:hover,
    &:focus {
      margin-right: 3px !important;
    }
  }

  .icon {
    font-size: 11px;

    &:before {
      font-size: 13px;
      margin-left: 0;
      margin-right: 5px;
      opacity: .7;
    }
  }

  .list-group,
  .list-tree {
    padding-left: 0;
    padding-right: 0;

    .list-item {
      margin: 0;
      padding-left: 6px;
      padding-right: 0;
      width: 100%;

      // Better flatland-styled hilight
      &.selected {
        background: #4284c7;
      }
    }
  }
}

// Hide open files meaningless "Pane" folder
atom-workspace > atom-workspace-axis > atom-panel-container.left > atom-panel > div > div.tree-view-open-files > ul > li > div {
  display: none;
}

// Recent projects
.recent-projects-view {
  .project-list.text-only {
    .project-entry {
      background: transparent;
      border: 0;

      &:hover {
        background: rgba(25, 25, 25, .3);

        * {
          color: #efefef;
        }
      }
    }
  }
}
